<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%= require('raw-loader!./meta.html') %>
    <title>Index</title>
</head>
<body>
    <div id="app"></div>
    <script>
        <%= require('raw-loader!babel-loader!../../node_modules/lib-flexible/flexible.js') %>
    </script>
</body>
</html>